/* 
    General Styles
*/
.logo{
    font-family: 'Franklin Gothic Medium', sans-serif;
}
.footer{
    font-family: 'Franklin Gothic Medium', sans-serif;
    height: 90px;
    color: yellow;
    background-color: #000000;
}
body{
    background: url('https://external-preview.redd.it/YNYFXXUd6uo9LHCaEKMebpEVh87q9LB5SC5PVub5RgQ.jpg?width=1080&crop=smart&auto=webp&v=enabled&s=ba6aaba989b3c706861440526a627b45e8e683ab') no-repeat center/cover;
    height: 100vh;
    background-attachment: fixed;
}
.navbar{
    background: linear-gradient(1.25turn ,#000000, #000000);
}
.wholecard{
    background: linear-gradient(300deg, rgba(106, 106, 109, 0.322), rgba(255,0,0,0)),            
                linear-gradient(127deg, rgba(252, 223, 223, 0.8), rgba(0,255,0,0));
    overflow: auto !important;
    margin-left: 70px;
    min-width: 300px;
}
.list-group-item{
    background: linear-gradient(217deg, rgba(223, 235, 8, 0.8), rgba(255,0,0,0)),            
                linear-gradient(127deg, rgba(218, 117, 9, 0.8), rgba(0,255,0,0))
}
li{
    font-family: 'Franklin Gothic Medium', sans-serif;
}
#card-general{
    overflow-y: hidden;
    overflow-x: auto;
}
.description{
    font-family: 'Franklin Gothic Medium', sans-serif;
}
.cardTitle{
    max-height: 5rem;
}
.cardFooter{
    max-height: 5rem;
}
.cardDivVehicle{
    max-height: 22rem;
}
.cardDivPlanet{
    max-height: 29rem;
}
